* {
	box-sizing: border-box;	
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	color: #4F545F;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #0576BB;
}

h1, h3 {
	padding: 20px;
	margin: 0;
	color: white;
}

/*h1 {
	width: 80%;
}*/

h3 {
	align-self: center;
}

#navMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #04A1FF;
	overflow: hidden;
}

#navMenu > li {
	float: left;
	padding: 10px 20px;
	color: white;
	font-size: 20px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navMenu > li:hover, .selected {
	color: white;
	background-color: #56C1FF;
	cursor: pointer;
}

input:focus {
    border-bottom: 1px solid #04A1FF !important;
    box-shadow: 0 1px 0 0 #04A1FF !important;
}

[type="radio"]:checked, [type="radio"]:not(:checked), [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events: all;
}

.btn, .btn:focus {
	background-color: #04A1FF;
}

.btn:hover {
	background-color: #56C1FF;
}

.redBtn, .redBtn:focus {
	background-color: #f44336;
}

.redBtn:hover {
	background-color: #aa1409;
}

.greenBtn, .greenBtn:focus {
	background-color: #4caf50;
}

.greenBtn:hover {
	background-color: #367c39;
}

label {
	font-size: 18px;
	color: #202020;
}

label.active {
	font-size: 20px;
}

[type="submit"] {
	color: white;
	font-weight: bold;
}

.error {
	font-weight: bold;
    margin: 8px 0;
    color: red;
}