* {
	box-sizing: border-box;	
}

/*TODO: FIX NAV BAR LINKS */

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	color: #4F545F;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #0576BB;
}

h1, h3 {
	padding: 20px;
	margin: 0;
	color: white;
}

/*h1 {
	width: 80%;
}*/

h3 {
	align-self: center;
}

#navMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #04A1FF;
	overflow: hidden;
}

#navMenu > li {
	float: left;
	padding: 10px 20px;
	color: white;
}

#navMenu > li:hover, .selected {
	color: white;
	background-color: #56C1FF;
	cursor: pointer;
}
